@model ForgotPasswordVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forgot Password – Credit Management System</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="~/media/logos/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="~/plugins/global/plugins.bundle.css" rel="stylesheet" />
    <link href="~/css/style.bundle.css" rel="stylesheet" />
</head>
<body id="kt_body" class="bg-body">

    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-column flex-lg-row flex-column-fluid">
            <!-- Aside -->
            <div class="d-flex flex-column flex-lg-row-auto w-xl-600px position-xl-relative" style="background-color: #F2C98A">
                <div class="d-flex flex-column position-xl-fixed top-0 bottom-0 w-xl-600px scroll-y">
                    <div class="d-flex flex-row-fluid flex-column text-center p-10 pt-lg-20">
                        <a href="/" class="py-9 mb-5">
                            <img alt="Logo" src="~/media/logos/logo.svg" class="h-60px" />
                        </a>
                        <h1 class="fw-bolder fs-2qx pb-5 pb-md-10" style="color: #986923;">Welcome Back</h1>
                        <p class="fw-bold fs-2" style="color: #986923;">Reset your password securely</p>
                    </div>
                    <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px"
                         style="background-image: url('@Url.Content("~/media/illustrations/sketchy-1/13.png")')"></div>
                </div>
            </div>

            <!-- Body -->
            <div class="d-flex flex-column flex-lg-row-fluid py-10">
                <div class="d-flex flex-center flex-column flex-column-fluid">
                    <div class="w-lg-500px p-10 p-lg-15 mx-auto">
                        <form asp-action="ForgotPassword" asp-controller="Account" method="post" class="form w-100" novalidate="novalidate" id="kt_password_reset_form">
                            <div class="text-center mb-10">
                                <h1 class="text-dark mb-3">Forgot Password?</h1>
                                <div class="text-gray-400 fw-bold fs-4">Enter your email to reset your password</div>
                            </div>

                            <div class="fv-row mb-10">
                                <label asp-for="Email" class="form-label fw-bolder text-gray-900 fs-6">Email</label>
                                <input asp-for="Email" class="form-control form-control-solid" autocomplete="off" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="d-flex flex-wrap justify-content-center pb-lg-0">
                                <button type="submit" id="kt_password_reset_submit" class="btn btn-lg btn-primary fw-bolder me-4">
                                    <span class="indicator-label">Submit</span>
                                    <span class="indicator-progress">
                                        Please wait...
                                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                    </span>
                                </button>
                                <a asp-action="SignIn" asp-controller="Account" class="btn btn-lg btn-light-primary fw-bolder">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="d-flex flex-center flex-wrap fs-6 p-5 pb-0">
                    <div class="d-flex flex-center fw-bold fs-6">
                        <a href="#" class="text-muted text-hover-primary px-2">About</a>
                        <a href="#" class="text-muted text-hover-primary px-2">Support</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="~/plugins/global/plugins.bundle.js"></script>
    <script src="~/js/scripts.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
