﻿﻿<!DOCTYPE html>
<html lang="en">
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
<head>
	<meta charset="utf-8" />]
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Event Management System</title>
	<link rel="shortcut icon" href="~/media/logos/favicon.ico" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
	<link href="~/css/style.bundle.css" rel="stylesheet" type="text/css" />
</head>
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed aside-enabled aside-fixed" style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">>

	@await Component.InvokeAsync("Topbar")
	<div class="d-flex flex-column flex-root">
		<div class="page d-flex flex-row flex-column-fluid">
			<partial name="_Sidebar" />
		</div>
		<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
			<partial name="_Header" />
			<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
				@RenderBody()
			</div>
			<partial name="_Footer" />
		</div>
	</div>

	<partial name="_ScrollToTop" />

	<partial name="_ValidationScriptsPartial" />
	<partial name="_AlertMessages" />
	<script src="~/plugins/global/plugins.bundle.js"></script>
	<script src="~/js/site.js"></script>
	<script src="~/js/scripts.bundle.js"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>