﻿
<div class="post d-flex flex-column-fluid" id="kt_post">
	<!--begin::Container-->
	<div id="kt_content_container" class="container-xxl">
		<h1 class="fw-normal text-center">Welcome to Dashboard <span class="fw-bolder">@ViewData["FullName"]</span>!</h1>
	</div>
	<!--end::Container-->
</div>